<% provide(:title, "Promise") %>
<div class="col-sm-9" id="sidebar-mainCol">
  <h1 class="text-blue">User Promises</h1>
  <p>Here you can access our policies and legal terms. Here are our
    commitments to you.</p>
  <h3>Oshie&#39;s commitments to our users and customers:</h3>
  <ul>
    <li>Your personal information and all the personal information
      related with your evaluations will always remain private</li>
    <li>Unless you decide to collaborate, you own your evaluations
      and all the data associated with them</li>
    <li>We will never lock you in</li>
    <li>We will always provide the best service that we possibly can</li>
  </ul>
  <p>These are our promises to our users and customer. For detailed
    information see our <%= link_to "Terms of Service", policy_terms_path %>.</p>
</div><!-- col-sm-9 -->
