<% provide(:title, "Oshie Security") %>
<div class="col-sm-9" id="sidebar-mainCol">
  <h1 class="text-blue">Oshie Security</h1>

  <h2>Oshie Overview</h2>
  <p>Oshie is a Learning Management System (LMS) used by organizations of all sizes
    to deploy and operate their classes, lessons, and educational materials .
    Our platform allows organizations to focus on their educational goals and
    strategies while Oshie focuses on infrastructure management, scaling, and security.
    Oshie applies security best practices and manages platform security so
    customers can focus on their business. Our platform is designed to protect
    customers from threats by applying security controls at every layer from
    physical to application, isolating customer applications and data, and with
    its ability to rapidly deploy security updates without customer interaction
    or service interruption.</p>

    <h2>Oshie's Commitment to Trust</h2>
    <p>Trust is a core principle of Oshie. It’s this commitment to customer
      privacy and inspiring trust that directs the decisions we make on a daily
      basis. Trust is the responsibility of each and every employee and one we
      take seriously.</p>

    <h2>Vulnerability Reporting</h2>
    <p>As part of our commitment to working with security researchers to make our
      platform safer, Oshie operates a bug bounty program to reward those who
      find and report bugs in our platform. Our bug bounty program is managed
      through Bugcrowd. To see the terms of the program and participate, go to
      <%= link_to "Bugcrowd", 'https://bugcrowd.com/' %> and sign up as a tester.
      If you have identified a vulnerability,please report it via Bugcrowd to
      be eligible for a reward.</p>

    <p>For other security inquiries, please <%= link_to "open a support ticket", '#' %>.</p>  


</div><!-- col-sm-9 -->
