<% provide(:title, "Trademark Usage Guidelines") %>
<div class="col-sm-9" id="sidebar-mainCol">
  <h1 class="text-blue">Trademark Usage</h1>
  <p>The following guidelines apply to the use of all Oshie Marks licensed
    pursuant to the Terms:</p>
  <ol>
    <li>You must use the appropriate legend for the Mark: ® for registered
      trademarks, TM for unregistered trademarks, and SM for unregistered
      service marks.</li>
    <li>You shall not use any Oshie Mark to disparage Oshie, its products or
      services, or in a manner which, in Oshie’s reasonable judgment,
      may diminish or damage its goodwill in the Mark or imply endorsement
      by Oshie. You agree to cease all such uses upon written notification
      by Oshie. You agree not to take any action which might lead a third party
      to think Oshie’s Mark is owned by you, or which might adversely impact
      Oshie’s reputation. You shall at all times use the Oshie Marks in a
      manner consistent with trademark laws.</li>
    <li>You shall notify Oshie immediately of any improper, infringing,
      confusing or unauthorized use of Oshie’s Marks of which you become aware.</li>
    <li>You shall not alter the appearance of any Oshie Mark or obscure such
      Mark in any way. Changing the color, font, or proportions of any Oshie
      Mark is prohibited.</li>
    <li>Questions concerning proper use of the Marks shall be directed to
       <%= link_to "trademark@oshie.com", '#' %>.</li>
  </ol>

</div><!-- col-sm-9 -->
