
<!-- logo -->
<div class="middle-box text-center animated fadeInDown">
  <center><%= link_to image_tag("logos/logo.png", alt: "loginlogo",
  id: "loginpage-logo"), root_path %></center>
</div><!-- logo -->
