<div>
  <h1 class = "text-blue">8. License from You</h1>
  <p><b>8.1</b> Oshie claims no ownership or control over any Content or
    Application. You retain copyright and any other rights you already hold in
    the Content and/or Application, and you are responsible for protecting
    those rights, as appropriate. By submitting, posting or displaying the
    Content on or through the Oshie Services you give Oshie a worldwide,
    royalty-free, and non-exclusive license to reproduce, adapt, modify,
    translate, publish, publicly perform, publicly display and distribute such
    Content for the sole purpose of enabling Oshie to provide you with the
    Oshie Services. Furthermore, by creating an Application through use of
    the Oshie Services, you give Oshie a worldwide, royalty-free, and
    non-exclusive license to reproduce, adapt, modify, translate, publish,
    publicly perform, publicly display and distribute such Application for
    the sole purpose of enabling Oshie to provide you with the Oshie Services.</p>
  <p><b>8.2</b> By adding a collaborator to your Application, you hereby grant
    to that user a non-exclusive, royalty-free, non-transferable license, with
    no right to sub-license, to use, display, perform, reproduce, modify,
    publish, distribute, list information regarding, edit, translate and
    analyze such Application(s) and Content as permitted by the relevant
    Oshie Services functionality or features for the sole purpose of
    collaborating on development of the Application(s).</p>
  <p><b>8.3</b> You may choose to or we may invite you to submit comments or
    ideas about the Oshie Services, including without limitation about how to
    improve the Oshie Services or our products (“Ideas”). By submitting any
    Idea, you agree that your disclosure is gratuitous, unsolicited and without
    restriction and will not place Oshie under any fiduciary or other
    obligation, and that we are free to use the Idea without any additional
    compensation to you, and/or to disclose the Idea on a non-confidential
    basis or otherwise to anyone.</p>
  <p><b>8.4</b> You agree that Oshie, in its sole discretion, may use your
    trade names, trademarks, service marks, logos, domain names and other
    distinctive brand features in presentations, marketing materials, customer
    lists, financial reports and Web site listings (including links to your website)
    for the purpose of advertising or publicizing your use of the Oshie Services.</p>
</div><!-- 8. License from You -->
