<div>
  <h1 class = "text-blue">11. Modification and Termination of the Oshie Services</h1>
  <p><b>11.1</b> Oshie is constantly innovating in order to provide the best
    possible experience for its users. You acknowledge and agree that the form
    and nature of the Oshie Services which Oshie provides may change from
    time to time without prior notice to you, subject to the terms in Section
    4.3. Changes to the form and nature of the Oshie Services will be effective
    with respect to all versions of the Oshie Services; examples of changes
    to the form and nature of the Oshie Services include without limitation
    changes to fee and payment policies, security patches, added functionality,
    and other enhancements.</p>
  <p><b>11.2</b> You may terminate these Terms at any time by canceling your
    account on the Oshie Services. You will not receive any refunds if you
    cancel your account.</p>
  <p><b>11.3</b> You agree that Oshie, in its sole discretion and for any or
    no reason, may terminate your account or any part thereof. You agree that
    any termination of your access to the Oshie Services may be without prior
    notice, and you agree that Oshie will not be liable to you or any third
    party for such termination.</p>
  <p><b>11.4</b> You are solely responsible for exporting your Content and
    Application(s) from the Oshie Services prior to termination of your
    account for any reason, provided that if we terminate your account,
    we will provide you a reasonable opportunity to retrieve your Content
    and Application(s).</p>
  <p><b>11.5</b> Upon any termination of the Oshie Services or your account
    these Terms will also terminate, but Sections 6.1, 11, 12, 13, 14, and 18
    shall continue to be effective after these Terms are terminated.</p>
</div><!-- 11. Modification and Termination of the Oshie Services -->
