<div>
  <h1 class = "text-blue">1. Your Agreement with Oshie</h1>
  <p><b>1.1</b> Your use of the Oshie service is governed by this agreement (the "Terms").
    "Oshie" means Oshie Inc., located at 1245 Brockton Ave, Los Angeles, CA 90025,
    United States, and its subsidiaries or affiliates involved in providing
    the Oshie Service. The “Oshie Services” means the services Oshie makes
    available through this website, including this website, the Oshie cloud
    computing platform, the Oshie API, the Oshie Add-ons, and any other
    software or services offered by Oshie in connection to any of those.</p>
  <p><b>1.2</b> In order to use the Oshie Services, you must first agree to the
    Terms. You can agree to the Terms by actually using the Oshie Services.
    You understand and agree that Oshie will treat your use of the Oshie
    Services as acceptance of the Terms from that point onwards.</p>
  <p><b>1.3</b> If you have entered into or enter into a master subscription
    agreement with salesforce.com, that master subscription agreement shall
    not apply to Oshie Services, and Oshie Services shall not be considered
    a service or product or part of any service or product under such master
    subscription agreement, unless otherwise expressly agreed in writing by
    salesforce.com. The Oshie Services are delivered from an infrastructure
    different from the infrastructure underlying other salesforce.com services,
    and any representations or commitments by salesforce.com regarding the
    security or availability of its services or products do not apply to
    Oshie Services.</p>
  <p><b>1.4</b> You may not use the Oshie Services if you are a person barred
    from receiving the Oshie Services under the laws of the United States or
    other countries, including the country in which you are resident or from
    which you use the Oshie Services. You affirm that you are over the age
    of 13, as the Oshie Services are not intended for children under 13.</p>
  <p><b>1.5</b> You agree your purchases of Oshie Services are not contingent
    on the delivery of any future functionality or features or dependent on
    any oral or written public comments made by Oshie or any of its affiliates
    regarding future functionality or features.</p>
</div><!-- 1. Your Agreement with Oshie -->
