<div>
  <h1 class = "text-blue">7. License from Oshie and Restrictions</h1>
  <p><b>7.1</b> Oshie gives you a personal, worldwide, royalty-free,
    non-assignable and non-exclusive license to use the software provided to
    you by Oshie as part of the Oshie Services as provided to you by Oshie.
    This license is for the sole purpose of enabling you to use and enjoy the
    benefit of the Oshie Services as provided by Oshie, in the manner
    permitted by the Terms.</p>
  <p><b>7.2</b> You may not (and you may not permit anyone else to): (a) copy,
    modify, create a derivative work of, reverse engineer, decompile or
    otherwise attempt to extract the source code of the Oshie Services or any
    part thereof, unless this is expressly permitted or required by law, or
    unless you have been specifically told that you may do so by Oshie, in
    writing (e.g., through an open source software license); or (b) attempt
    to disable or circumvent any security mechanisms used by the Oshie
    Services or any applications running on the Oshie Services.</p>
  <p><b>7.3</b> Open source software licenses for components of the Oshie
    Services released under an open source license constitute separate written
    agreements. To the limited extent that the open source software licenses
    expressly supersede these Terms, the open source licenses govern your
    agreement with Oshie for the use of the components of the Oshie Services
    released under an open source license.</p>
  <p><b>7.4</b> Oshie hereby grants you a limited, non-exclusive, royalty-free,
    non-transferable license, with no right to sub-license, to display the
    Oshie trademarks and/or logos as provided <%= link_to "here", '#' %> (“Marks”)
    for the sole
    purpose of promoting or advertising that you use the Oshie Services and
    solely in accordance with Oshie’s then current Trademark Usage Guidelines,
    which may be found <%= link_to "here", '#' %>
    (or such other URL Oshie may provide from time to time).
    You agree that all goodwill generated through your use of the Oshie Marks
    shall inure to the benefit of Oshie.</p>
</div><!-- 7. License from Oshie and Restrictions -->
