<div>
  <h1 class = "text-blue">15. Copyright Policy</h1>
  <p><b>15.1</b> You agree to set up a process to respond to notices of alleged
    infringement that comply with the United States' Digital Millennium
    Copyright Act ("DMCA notices"). It is Oshie's policy to respond to DMCA
    notices or other applicable copyright laws and to terminate the accounts
    of repeat infringers. We reserve the right to take down content in your
    Application or, if necessary, the Application itself upon receipt of a
    valid DMCA notice. For more information, please go to
    <%= link_to "dmca", '#' %>.</p>
</div><!-- 15. Copyright Policy -->
