<div>
  <h1 class = "text-blue">13. LIMITATION OF LIABILITY</h1>
  <p><b>13.1</b> SUBJECT TO SECTION 12.1 ABOVE, YOU EXPRESSLY UNDERSTAND AND
    AGREE THAT OSHIE, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS SHALL
    NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL
    CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER
    CAUSED AND UNDER ANY THEORY OF LIABILITY. THIS SHALL INCLUDE, BUT NOT BE
    LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY),
    ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED,
    COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS.</p>
  <p><b>13.2</b> THE LIMITATIONS ON OSHIE'S LIABILITY TO YOU IN PARAGRAPH 13.1
    ABOVE SHALL APPLY WHETHER OR NOT OSHIE HAS BEEN ADVISED OF OR SHOULD HAVE
    BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</p>
</div><!-- 13. LIMITATION OF LIABILITY -->
