<div>
  <h1 class = "text-blue">18. General Legal Terms</h1>
  <p><b>18.1</b> The Terms constitute the whole legal agreement between you
    and Oshie and govern your use of the Oshie Services (but excluding any
    services which Oshie may provide to you under a separate written agreement),
    and completely replace any prior agreements between you and Oshie in
    relation to the Oshie Services.</p>
  <p><b>18.2</b> There are no third party beneficiaries to these Terms.
    The parties are independent contractors, and nothing in these Terms
    creates an agency, partnership or joint venture.</p>
  <p><b>18.3</b> If Oshie provides you with a translation of the English
    language version of these Terms, the English language version of these
    Terms will control if there is any conflict.</p>
  <p><b>18.4</b> You agree that Oshie may provide you with notices, including
    those regarding changes to the Terms, by email, regular mail, or postings
    on the Oshie Services. By providing Oshie your email address, you
    consent to our using the email address to send you any notices required
    by law in lieu of communication by postal mail.</p>
  <p><b>18.5</b> You agree that if Oshie does not exercise or enforce any
    legal right or remedy which is contained in the Terms (or which Oshie
    has the benefit of under any applicable law), this will not be taken to
    be a formal waiver of Oshie's rights and that those rights or remedies
    will still be available to Oshie.</p>
  <p><b>18.6</b> Oshie shall not be liable for failing or delaying
    performance of its obligations resulting from any condition beyond its
    reasonable control, including but not limited to, governmental action,
    acts of terrorism, earthquake, fire, flood or other acts of God, labor
    conditions, power failures, and Internet disturbances.</p>
  <p><b>18.7</b> The Terms, and your relationship with Oshie under the Terms,
    shall be governed by the laws of the State of California without regard
    to its conflict of laws provisions. You and Oshie agree to submit to the
    exclusive jurisdiction of the courts located within the county of
    Los Angeles, California to resolve any legal matter arising from the Terms.</p>
  <p><b>18.8</b> Neither party may assign any of its rights or obligations
    under these Terms, whether by operation of law or otherwise, without the
    prior written consent of the other party (not to be unreasonably withheld).
    Notwithstanding the foregoing, either party may assign the entirety of its
    rights and obligations under these Terms, without consent of the other
    party, to its affiliate or in connection with a merger, acquisition,
    corporate reorganization, or sale of all or substantially all of its
    assets not involving a direct competitor of the other party. A party’s
    sole remedy for any purported assignment by the other party in breach of
    this paragraph shall be, at the non-assigning party’s election, termination
    of your use of the Oshie Services upon written notice to the assigning party.</p>
</div><!-- 18. General Legal Terms -->
