<div>
  <h1 class = "text-blue">12. EXCLUSION OF WARRANTIES</h1>
  <p><b>12.1</b> NOTHING IN THESE TERMS, INCLUDING SECTIONS 12 AND 13, SHALL
    EXCLUDE OR LIMIT OSHIE'S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT
    BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW.</p>
  <p><b>12.2</b> YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE OSHIE
    SERVICE IS AT YOUR SOLE RISK AND THAT THE OSHIE SERVICES ARE PROVIDED
    "AS IS" AND "AS AVAILABLE."</p>
  <p><b>12.3</b> OSHIE, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS
    MAKE NO EXPRESS WARRANTIES AND DISCLAIM ALL IMPLIED WARRANTIES REGARDING
    THE OSHIE SERVICES, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. WITHOUT LIMITING
    THE GENERALITY OF THE FOREGOING, OSHIE, ITS SUBSIDIARIES AND AFFILIATES,
    AND ITS LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT: (A) YOUR USE OF
    THE OSHIE SERVICES WILL MEET YOUR REQUIREMENTS, (B) YOUR USE OF THE
    OSHIE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR,
    AND (C) USAGE DATA PROVIDED THROUGH THE OSHIE SERVICES WILL BE ACCURATE.</p>
</div><!-- 12. EXCLUSION OF WARRANTIES -->
