<div>
  <h1 class = "text-blue">2. Your Account and Use of the Oshie Services</h1>
  <p><b>2.1</b> You must provide accurate and complete registration information
    any time you register to use the Oshie Services. You are responsible for
    the security of your passwords and for any use of your account. If you
    become aware of any unauthorized use of your password or of your account,
    you agree to notify Oshie immediately.</p>
  <p><b>2.2</b> Your use of the Oshie Services must comply with all applicable
    laws, regulations and ordinances, including any laws regarding the export
    of data or software.</p>
  <p><b>2.3</b> You agree not to (a) access (or attempt to access) the
    administrative interface of the Oshie Services by any means other than
    through the interface that is provided by Oshie in connection with the
    Oshie Services, unless you have been specifically allowed to do so in a
    separate agreement with Oshie, or (b) engage in any activity that
    interferes with or disrupts the Oshie Services (or the servers and
    networks which are connected to the Service).</p>
  <p><b>2.4</b> You may use the Oshie Services only to develop and run
    applications on the Oshie infrastructure. You may not access the Oshie
    Services for the purpose of bringing an intellectual property infringement
    claim against Oshie or for the purpose of creating a product or service
    competitive with the Oshie Services.</p>
</div><!-- 2. Your Account and Use of the Oshie Services -->
