<div>
  <h1 class = "text-blue">5. Content on the Oshie Services and Take Down Obligations</h1>
  <p><b>5.1</b> You understand that all information (such as data files,
    written text, computer software, music, audio files or other sounds,
    photographs, videos or other images) to which you may have access as
    part of, or through your use of, the Oshie Services are the sole
    responsibility of the person from which such content originated.
    All such information is referred to below as the "Content." The term
    Content shall specifically exclude the web application that you create
    using the Oshie Services and any source code written by you to be used
    with the Oshie Services (collectively, "Applications").</p>
  <p><b>5.2</b> Oshie reserves the right (but shall have no obligation) to
    remove any or all Content from the Oshie Services. You agree to immediately
    take down any Content that violates the Acceptable Use Policy, including
    pursuant to a take down request from Oshie. In the event that you elect
    not to comply with a request from Oshie to take down certain Content,
    Oshie reserves the right to directly take down such Content or to disable
    Applications.</p>
  <p><b>5.3</b> In the event that you become aware of any violation of the
    Acceptable Use Policy by an End User of Applications, you shall immediately
    terminate such end user's account on your Application. Oshie reserves
    the right to disable Applications in response to a violation or suspected
    violation of the Acceptable Use Policy.</p>
  <p><b>5.4</b> You agree that you are solely responsible for
    (and that Oshie has no responsibility to you or to any third party for)
    the Application or any Content that you create, transmit or display while
    using the Oshie Services and for the consequences of your actions
    (including any loss or damage which Oshie may suffer) by doing so.</p>
  <p><b>5.5</b> You agree that Oshie has no responsibility or liability for
    the deletion or failure to store any Content and other communications
    maintained or transmitted through use of the Service. You further
    acknowledge that you are solely responsible for securing and backing up
    your Applications and any Content.</p>
</div><!-- 5. Content on the Oshie Services and Take Down Obligations -->
