<div>
  <h1 class = "text-blue">14. Indemnification</h1>
  <p><b>14.1</b> You agree to hold harmless and indemnify Oshie, and its
    subsidiaries, affiliates, officers, agents, employees, advertisers,
    licensors, suppliers or partners (collectively "Oshie and Partners")
    from and against any third party claim arising from or in any way
    related to (a) your breach of the Terms, (b) your use of the Oshie
    Services, (c) your violation of applicable laws, rules or regulations
    in connection with the Oshie Services, or (d) your Content or your
    Application, including any liability or expense arising from all claims,
    losses, damages (actual and consequential), suits, judgments, litigation
    costs and attorneys' fees, of every kind and nature. In such a case,
    Oshie will provide you with written notice of such claim, suit or action.</p>
</div><!-- 14. Indemnification -->
