<div>
  <h1 class = "text-blue">9. Add-ons</h1>
  <p><b>9.1</b> Oshie may make available through the Oshie Services additional
    features, functionality, and services offered by its third-party partners
    (“Add-ons”). Your use of Add-ons is subject to these Terms and to the
    <%= link_to "applicable fees", '#' %>. You acknowledge for each Add-on
    you subscribe to or
    purchase through the Oshie Services, these Terms constitute a binding
    agreement between you and the third party licensor of that Add-on
    (“the Add-on Provider”) only. The Add-on Provider of each Add-on is solely
    responsible for that Add-on, the content therein, and any claims that you
    or any other party may have relating to that Add-on or your use of that
    Add-on. You acknowledge that you are purchasing the license to each Add-on
    from the Add-on Provider of that Add-on; Oshie is acting as agent for
    the Add-on Provider in providing each such Add-on to you; Oshie is not a
    party to the license between you and the Add-on Provider with respect to
    that Add-on; and Oshie is not responsible for that Add-on, the content
    therein, or any claims that you or any other party may have relating to
    that Add-on or your use of that Add-on. You acknowledge and agree that
    Oshie, and Oshie’s subsidiaries, are third party beneficiaries of the
    agreement between you and the Add-on Provider for each Add-on, and that
    Oshie will have the right (and will be deemed to have accepted the right)
    to enforce such license against you as a third party beneficiary thereof.</p>
  <p><b>9.2</b> By subscribing to or purchasing an Add-on, you grant Oshie
    permission to share your Application, Content, and user information with
    the Add-on Provider as necessary in order to provide you the Add-on.</p>
  <p><b>9.3</b> The license granted to you to use any Add-on is personal to you,
    and is not sublicensable to your End Users. You may not provide or resell
    Add-ons to others.</p>
</div><!-- 9. Add-ons -->
