<div>
  <h1 class = "text-blue">3. Service Policies and Privacy</h1>
  <p><b>3.1</b> You agree to comply with the Oshie Acceptable Use Policy
    available at <%= link_to "acceptable use policy", policy_aup_path %>
    (the "Acceptable Use Policy") which is incorporated herein by this
    reference and which may be updated from time to time.</p>
  <p><b>3.2</b> The Oshie Services shall be subject to the
    <%= link_to "privacy policy", policy_privacy_path %> for the Oshie Services
    available at privacy policy. You agree to the use of your data in accordance
    with Oshie's privacy policies.</p>
  <p><b>3.3</b> You agree that you will protect the privacy and legal rights
    of the End Users of your application. You must provide legally adequate
    privacy notice and protection for End Users. If End Users provide you with
    user names, passwords, or other login information or personal information,
    you must make the users aware that the information will be available to
    your application and to Oshie.</p>
</div><!-- 3. Service Policies and Privacy -->
