<div>
  <h1 class = "text-blue">10. Recommendations</h1>
  <p><b>10.1</b> Oshie may, and you grant us permission to, make
    recommendations via the Oshie Services for products or services we think
    may be of interest to you based on your Application(s), Content, and/or
    use of the Oshie Services. We will never make recommendations directly
    to your End Users.</p>
</div><!-- 10. Recommendations -->
