<div>
  <h1 class = "text-blue">4. Fees for Use of the Oshie Services</h1>
  <p><b>4.1</b> Subject to the Terms, the Oshie Services is provided to you
    without charge up to certain limits. Usage over this limit requires your
    purchase of additional resources or services. The pricing for additional
    resources and services can be found at <%= link_to "http://Oshie.com/pricing", '#' %>
    (or such URL as Oshie may provide).</p>
  <p><b>4.2</b> For all purchased resources and services, we will charge your
    credit card on a monthly basis or at the interval indicated in Oshie fees
    and payment policies, if different. Late payments may bear interest at the
    rate of 1.5% per month (or the highest rate permitted by law, if less).
    Charges are exclusive of taxes. You are responsible for paying all taxes
    and government charges, and all reasonable expenses and attorneys fees
    Oshie incurs collecting late amounts. To the fullest extent permitted by
    law, you waive all claims relating to charges unless claimed within 60 days
    after the charge (this does not affect your credit card issuer rights).
    Charges are solely based on Oshie's measurements of your use of the Oshie
    Services, unless otherwise agreed to in writing. To the fullest extent
    permitted by law, refunds (if any) are at the discretion of Oshie and
    only in the form of credit for the Oshie Services. Nothing in these Terms
    obligates Oshie to extend credit to any party. You acknowledge and agree
    that any credit card and related billing and payment information that you
    provide to Oshie may be shared by Oshie with companies who work on
    Oshie's behalf, such as payment processors and/or credit agencies,
    solely for the purposes of checking credit, effecting payment to Oshie
    and servicing your account. Oshie may also provide information in response
    to valid legal process, such as subpoenas, search warrants and court
    orders, or to establish or exercise its legal rights or defend against
    legal claims. Oshie shall not be liable for any use or disclosure of
    such information by such third parties. Oshie reserves the right to
    discontinue the provision of the Oshie Services to you for any late
    payments.</p>
  <p><b>4.3</b> Oshie may change its fees and payment policies for the Oshie
    Services by notifying you at least fifteen (15) days before the beginning
    of the billing cycle in which such change will take effect. Changes to
    the fees or payment policies will be posted on the website
    (or such other URL Oshie may provide from time to time).
    Any outstanding balance becomes immediately due and payable upon
    termination of the Terms for any reason.</p>
  <p><b>4.4</b> You may not develop multiple Applications to simulate or act
    as a single Application or otherwise access the Oshie Services in a
    manner intended to avoid incurring fees.</p>
</div><!-- 4. Fees for Use of the Oshie Services -->
