<div>
  <h1 class = "text-blue">17. Changes to the Terms</h1>
  <p><b>17.1</b> Oshie may make changes to the Terms from time to time.
    If we change the Terms in any substantive way, we will give you at least
    seven (7) days notice before the changes take effect, during which period
    of time you may reject the changes by terminating your account.</p>
  <p><b>17.2</b> You understand and agree that if you use the Oshie Services
    after the date on which the Terms have changed, Oshie will treat your
    use as acceptance of the updated Terms.</p>
</div><!-- 17. Changes to the Terms -->
