<div>
  <h1 class = "text-blue">6. Proprietary Rights</h1>
  <p><b>6.1</b> You acknowledge and agree that Oshie (or Oshie's licensors)
    own all legal right, title and interest in and to the Oshie Services,
    including any intellectual property rights which subsist in the Oshie
    Services (whether those rights happen to be registered or not, and wherever
    in the world those rights may exist).</p>
  <p><b>6.2</b> Except as provided in Section 8, Oshie acknowledges and
    agrees that it obtains no right, title or interest from you (or your licensors)
     under these Terms in or to any Content or Applications that you create,
     submit, post, transmit or display on, or through, the Oshie Services,
     including any intellectual property rights which subsist in that Content
     and the Application (whether those rights happen to be registered or not,
     and wherever in the world those rights may exist). Unless you have agreed
     otherwise in writing with Oshie, you agree that you are responsible for
     protecting and enforcing those rights and that Oshie has no obligation
     to do so on your behalf.</p>
</div><!-- 6. Proprietary Rights -->
