// Place all the styles related to the Policy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.policy-nav{
  .navbar-toggle{
    background-color: white;
    .collapsed{
    }
  }
}

#sidebar > li.active > a{
    background-color: white;
    color:inherit;
}
